<nav>
  <div class="nav nav-tabs border-bottom-0" id="nav-tab" role="tablist">
    {{#each @names as |tab index|}}
      <button
        class="srd-faq-tab {{if (eq index 0) 'active'}} px-3"
        id="nav-srd-product-{{index}}"
        data-toggle="tab"
        data-target="#nav-srd-product-target-{{index}}"
        type="button"
        role="tab"
        aria-controls="nav-srd-product-target-{{index}}"
        aria-selected="{{if (eq index 0) 'true' 'false'}}"
      >
        <div class="m-0">
          {{tab.name}}
        </div>
      </button>
    {{/each}}

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  {{#each @names as |tab index|}}
    <div
      class="tab-pane fade {{if (eq index 0) 'show active'}} "
      id="nav-srd-product-target-{{index}}"
      role="tabpanel"
      aria-labelledby="nav-srd-product-{{index}}"
    >
      {{tab}}
      tab
    </div>
  {{/each}}
</div>